/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.navbar {
	transition: all 0.4s;
}

.navbar .nav-link {
	color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
	color: #fff;
	text-decoration: none;
}

.navbar .navbar-brand {
	color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
	background: #fff;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
	color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
	color: #555;
	text-decoration: none;
}

.navbar.active .navbar-brand {
	color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
	.navbar {
		background: #fff;
	}

	.navbar .navbar-brand,
	.navbar .nav-link {
		color: #555;
	}
}

.video-background-holder {
	position: relative;
	background-color: black;
	height: calc(113vh - 72px);
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
}

.video-background-holder video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
	position: relative;
	z-index: 2;
}

.video-background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	opacity: 0.5;
	z-index: 1;
}

#features i {
	color: orange;
	margin-left: 3.25em;
	margin-top: 0.5em;
}

#features {
	font-family: "Noto-Sans", sans-serif;
	margin-bottom: 1.5em;
}

.header-down-arrow {
	position: absolute;
	bottom: 4vh;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

@keyframes fade-slide-up {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
@keyframes pulse {
	0% {
		opacity: 1;
		transform: none;
	}
	50% {
		opacity: 0.8;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}
.header-down-arrow i {
	animation: fade-slide-up 1s 1s ease-out forwards;
	opacity: 0;
}

.header-down-arrow i {
	animation: fade-slide-up 1s 1s ease-out forwards,
		pulse 2s 3s ease-out infinite;
	opacity: 0;
}

h1 {
	color: #fff;
	font-size: 64px;
	letter-spacing: 2px;
	margin-top: 80px;
	text-align: center;
}

.content {
	background: #fff;
	max-width: 960px;
	margin: 30px auto;
	padding: 20px 30px;
	border-radius: 10px 120px 10px 10px;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

#dynamic ul {
	list-style-type: none;
	padding: 0;
}

#dynamic li {
	padding: 10px;
	background: #f6f6f6;
	font-size: 20px;
	color: #555;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
	height: 86px;
}

#dynamic li:nth-child(even) {
	padding: 10px;
	background: #f2f2f2;
}

#dynamic li span {
	display: block;
}

#dynamic li span:nth-child(2) {
	font-size: 16px;
	margin-top: 6px;
	color: #999;
}

#dynamic li div {
	position: absolute;
	top: 0;
	right: 0px;
	background: rgba(255, 255, 255, 0.6);
	width: 40px;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
	cursor: pointer;
}

form input {
	float: left;
	width: 38%;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #eee;
	margin: 0 1%;
	padding: 10px;
	display: block;
	box-sizing: border-box;
	font-size: 18px;
}

form input:focus {
	outline: none;
	border-bottom: 3px solid #88236f;
	padding-bottom: 8px;
	transition: all ease 0.2s;
}

form:after {
	content: "";
	clear: both;
	display: block;
}

form button {
	border: 0;
	background: #fff;
	border-radius: 10px;
	padding: 13px;
	width: 14%;
	box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-family: ubuntu;
	letter-spacing: 1px;
	color: #999;
}
